{%- extends "basic/layout.html" %}

{%- block relbar1 %}
    <header>
      <div class="logo" >
       <a href="{{ pathto(root_doc)|e }}">{{ shorttitle|e }}</a>
      </div>
      <nav>
        <a href="{{ pathto(root_doc)|e }}">Home</a>
        <a href="{{ pathto('about')|e }}">About</a>
        <a href="{{ pathto(ablog.archive.docname) }}">Archive</a>
        {# <a href="./archive.html">Archive</a> #}
        {# <a href="{{ link|e }}">{{ title }}</a> #}

        {%- block relbaritems %} {% endblock %}
      </nav>
    </header>
{% endblock %}

{%- block relbar2 %}
{% endblock %}

{%- block sidebar1 %}
  {% if pagename in ablog %}
    {% set post = ablog[pagename] %}
    {% if post.tags %}
      <span class="f6">
        {% if post.tags|length > 1 %}
          {% if fa %}
            <i class="fa-fw fa fa-tags"></i>
          {% else %}
            {{ gettext('Tags')|lower }}:
          {% endif %}
        {% else %}
          {% if fa %}
            <i class="fa-fw fa fa-tag"></i>
          {% else %}
            {{ gettext('Tag') }}:
          {% endif %}{% endif %}
      </span>
      {% for coll in post.tags %}
        {% if coll|length %}
          <a class="f6 ba br3" href="{{ pathto(coll.docname) }}">{{ coll }}</a>
          {% if loop.index < post.tags|length %}
          {% endif %}
        {% else %}
          {{ coll }}
          {% if loop.index < post.tags|length %}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endif %}
{# {% if ablog.tags %} #}
{# <div class="ablog-sidebar-item ablog__tags"> #}
{# <h3><a href="{{ pathto(ablog.tags.path) }}">{{ gettext('Tags') }}</a></h3> #}
{# <ul class="ablog-cloud"> #}
{#   {% for coll in ablog.tags %} #}
{#   {% if coll %} #}
{#   <li class="ablog-cloud ablog-cloud-{{ coll.relsize(5, 1) }}"> #}
{#     <a href="{{ pathto(coll.docname) }}">{{ coll }}</a> #}
{#   </li> #}
{#   {% endif %} #}
{#   {% endfor %} #}
{# </ul> #}
{# </div> #}
{# {% endif %} #}
{% endblock %}

{%- block sidebar2 %}
{% endblock %}

{%- block footer %}
  <footer>
    {{ super() }}
  </footer>
{% endblock %}
